@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';


.fi-topbar > .bg-white, .fi-topbar-item-button, .overlook-link, .fi-sidebar-header, .fi-dropdown-header{
    background: #18181B;
}
.fi-topbar-item-active > .fi-topbar-item-button, .fi-topbar-item > .fi-topbar-item-button:hover{
    background:#4b4a4a!important;
}

.fi-topbar-item-label, .fi-dropdown-list-item, .overlook-name, .overlook-count, .fi-dropdown-header-label, .fi-logo{
    color:white!important;
}
.fi-sidebar-nav-tenant-menu-ctn{
    display: none;
}
